*{
    text-align: center;
}

.boxes{
    /* display: flex; */
    /* flex-direction: row; */
    /* /* justify-content: center; */
    /* text-align: center; */
}

p{
    background-color: paleturquoise;
    /* color: rebeccapurple; */
    display: inline-block;
    padding: 20px;
    height: 200px;
    width: 200px;
    /* text-align: center; */
    margin:30px;
}